body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    font-size: 25px;
    line-height: 1.6;
    color: #333;

}
*,
*:before,
*:after  {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container__header */
.containeer__header {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro1_02.jpg") center;
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto -500px;

    text-align: left;
}

.intro__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-decoration: uppercaase;
    line-height: 1;
    
}
.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 60px auto 0;

}


/* page1 */

.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: #afd0e2;
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.page1__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.page1__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-decoration: uppercaase;
    line-height: 1;
    
}
.page1__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 60px auto 0;

}


.page1__suptitle{
    color: white;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    margin: 60px auto;
    
}

/* page2 */

.page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: #afd0e2;
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.page2__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.page2__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-decoration: uppercaase;
    line-height: 1;
    
}
.page2__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 60px auto 0;

}


.page2__suptitle{
    color: white;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    margin: 60px auto;
    
}
/* page3 */

.page3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background:#afd0e2;
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.page3__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.page3__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-decoration: uppercaase;
    line-height: 1;
    
}
.page3__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 60px auto 0;

}


.page3__suptitle{
    color: white;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    margin: 60px auto;
    
}



/* Header */
.header {
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


}
/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 30px 15px;
    position: relative;


    color: white;
    text-decoration: none;
    
    transition: color .1s linear;
}
.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #fce38c;
    opacity: 1;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38c;
}
.nav__link:hover:after {
    display: block;

}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 25px;
  

    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;

}
.btn:hover {
    background-color: white;
    color: black;
}